.card
  max-width: 380px
  display: block
  max-height: 395px
  border-radius: 20px

.card__info
  padding: 40px 0
  background-color: rgba(#fcfcfc, .85)
  border-top-left-radius: 10px
  border-top-right-radius: 10px

.card__info-user
  color: $subtitle-font-color

.card__info-socials
  display: flex
  justify-content: center
  margin-top: 35px
  svg
    fill: $green-color

.card__nav
  display: flex
  flex-direction: row
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  

.card__nav-item
  width: 100% 
  text-align: center
  line-height: 45px
  font-weight: 500
  color: #fff
  background-color: rgba($green-color, .85)
  cursor: pointer
  &:nth-child(2n)
    border-left: 1px solid rgba(#dee3e7, .5)
    border-right: 1px solid rgba(#dee3e7, .5)
  &:first-child
      border-bottom-left-radius: 10px
      border-right: 1px solid rgba(#dee3e7, .5)
  &:last-child
    border-bottom-right-radius: 10px
    border-left: 1px solid rgba(#dee3e7, .5)

  &:hover
    background-color: rgba($green-color, .4)
    border-color: rgba(#dee3e7, .4)