.feedback
  .feedback__title 
    .subtitle Связаться со мной
  .feedback__form
    form(action="")
      .feedback__form-inputs
        input(type="text" name="" id="name" placeholder="Имя")
        input(type="email" name="" id="email" placeholder="Email")
        textarea(type="textarea" name="" id="massage" placeholder="Ваше сообщение")
      .feedback__form-buttons
        button(type="submit" id="submit") Отправить
        button(type="reset" id="reset") Очистить
