.footer
  ul.footer-menu.footer__menu
    li.footer-menu__item
      a(href="#") Мои работы
    li.footer-menu__item
      a(href="#") Обо мне
    li.footer-menu__item
      a(href="#") Блог
    li.footer-menu__item
      a(href="#") Авторизация  
  .footer__socials
    include ../sections/socials