.footer
  ul.footer-menu.footer__menu
    li.footer-menu__item
      a(href="works.html") Мои работы
    li.footer-menu__item
      a(href="about.html") Обо мне
    li.footer-menu__item
      a(href="blog.html") Блог
    li.footer-menu__item
      a(href="index.html") Авторизация  
  .footer__socials
    include ../sections/socials