header.section.hero-blog
  .hero-blog__bg
    .hero-blog__bg-img
      img(src="img/hero-bg.jpg", alt="")
  .hero-blog__socials
    include ../sections/socials
  a(href="").hamburger
    span
    span
    span
  .hero-blog__bg-title
    img(src="img/blog_header.svg", alt="").section-title
  .hero-blog__user
    .user__photo
      .user__photo-avatar
        img(src="img/user-photo.jpg", alt="")
  .hero-blog__title
    .title Блог
  .hero-blog__descr Статьи, которые я написал  
