header.section.hero
  .hero__bg
    .hero__bg-img
      img(src="img/hero-bg.jpg", alt="")
  .hero__socials
    include ../sections/socials
  a(href="").hamburger
    span
    span
    span
  a(href="").down-arrow
    .down-arrow__icon
      img(src="img/arrow-down.svg", alt="")

  .hero__title
    img(src="img/section-title.png", alt="").section-title
    .hero__user-block
      include ../sections/user